*{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 1;
}

.header{
  display: flex;
  position: fixed;
  border: 1px solid seashell;
  height: 69px;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
  background-color: black;
}

nav{
  display: flex;
  align-items: center;
}

nav span{
  display: inline-block;
  align-items: center;
  text-decoration:underline;
  color: seashell;
}

.main{

}
