body{
  background-color: black;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* Header */

header{
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  z-index: 20;
  background-color: black;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-grow: 1;
}

#logo img{
  height: 50px;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

nav span{
  padding: 15px;
}

a{
  color: seashell;
  text-decoration: underline;
}

/* Oue mission */

#mission-background{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h2, h4{
  background-color: black;
  z-index: 10;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
}
#loctit{
  font-size: 30px;
}

/* Tea of the month */

#month{
  padding-top: 50px;
}

.optionsize{
  height: 200px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;

}

#central{
  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  padding-top: 20px;
}

p{
  text-align: center;
}

/* locations */

.locations{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-size: auto;
  padding-top: 20px;
  margin-top: 20px;
}
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.box{
  background-color: black;
  width: 300px;
  padding-bottom: 10px;
  margin: 20px;
}

.parapad{
  padding: 10px;
  opacity: 1;
}

/* Footer */

.footer{
  text-align: center;
}

.copyright{
  padding-left: 20px;
}
