body{
  background-color: black;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

/* HEADER ---------------------------*/

header{
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  z-index: 20;
  background-color: black;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-grow: 1;
}

#logo img{
  height: 50px;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

nav span{
  padding: 15px;
}

a{
  color: seashell;
  text-decoration: underline;
}
